<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ailab.aicardio">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/heart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/heart"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.ailab.aicardio.annotationscreen.AnnotationActivity"
            android:label="@string/title_activity_annotate">

        </activity>

        <activity
            android:name="com.ailab.aicardio.mainscreen.MainActivity"
            android:label="@string/title_activity_main">

        </activity>

        <activity android:name="com.ailab.aicardio.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>